.root {
    position: relative;
    padding: 0;
    margin: 0;
    border: 2px solid #eee;
    border-radius: 4px;
    padding: 12px;
    font-size: 14px;
    overflow: auto;
    background: #fff;
    word-break: break-all;
    white-space: pre-wrap;

    &::-webkit-scrollbar {
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #aaa;
    }

    code {
        word-break: break-all;
        line-height: 1.4;
    }
}
