.root {
    position: relative;
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #fff;
}

.address {
    display: flex;
    align-items: center;
    gap: 8px;

    .input {
        flex-grow: 1;
    }

    @media (max-width: 767px) {
        grid-template-columns: minmax(0, 1fr);
    }
}

.option {
    display: flex;
    align-items: center;
    gap: 8px;
}
