.root {
    background: #eee;
}

.inner {
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 32px;
    box-sizing: border-box;
    @media (max-width: 767px) {
        padding: 16px;
    }
}

.container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 32px;
    background: #fff;
    border-radius: 16px;
    padding: 32px;
    align-items: flex-start;
    @media (max-width: 1023px) {
        grid-template-columns: minmax(0, 1fr);
    }
    @media (max-width: 767px) {
        padding: 15px;
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    margin: 0;
    font-size: 26px;
    font-weight: 600;
}

.form {
    display: flex;
    gap: 16px;
    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.input {
    flex-grow: 1;
}

.copy {
    align-self: flex-end;
}
